.home-preview {
  flex: 0 0 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif;

  p {
    color: $text-gray;
    font-size: rem(12px);
    font-weight: 450;
  }

  h4 {
    color: $text-dark;
    font-size: rem(14px);
    font-weight: 500;
  }

  img {
    width: 100%; // fill the container width
    aspect-ratio: 1 / 1; // makes it a square (1:1)
    object-fit: cover; // crop to fill square without stretching
    border-radius: 15px; // optional: rounded corners
  }

  &:hover .actions {
    transform: translateY(0);
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: rem(16px);
    margin-top: 8px;

    .star-icon {
      color: $clr-yellow;
      font-size: rem(17px);
    }
  }
}
