.home-filter-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .home-filter-layout {
    grid-template-columns: 60% 40%;
  }
}

.homes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.map-placeholder {
  background-color: #3b82f6; /* Tailwind blue-500 */
  height: 600px;
  border-radius: 10px;
}

.map-placeholder h2 {
  color: white;
  text-align: center;
  padding-top: 20px;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}