.home-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: auto;
  scroll-behavior: smooth;

  .home-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 25%;
    padding: 10px;
    background-color: rgba($clr-black, 0.79);
    transition: transform 0.2s;
  }
}
