.home-preview {
  flex: 0 0 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif;

  p {
    color: $text-gray;
    font-size: rem(12px);
    font-weight: 450;
  }

  h4 {
    color: $text-dark;
    font-size: rem(14px);
    font-weight: 500;
  }

  img {
    width: 100%; // fill the container width
    aspect-ratio: 1 / 1; // makes it a square (1:1)
    object-fit: cover; // crop to fill square without stretching
    border-radius: 15px; // optional: rounded corners
  }

  &:hover .actions {
    transform: translateY(0);
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: rem(16px);
    margin-top: 8px;

    .star-icon {
      color: $clr-yellow;
      font-size: rem(17px);
    }
  }
}

.img-container {
  position: relative;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heart-icon {
  position: absolute;
  top: 11px;
  right: 8px;
  width: 24px !important;
  height: 24px !important;
  object-fit: contain;
  z-index: 1;

  /* Fill color of the heart itself */
  // fill: rgba(0, 0, 0, 0.5) !important;

  /* White stroke around the heart */
  stroke: #fff !important;
  stroke-width: 2 !important;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.heart-icon:hover {
  transform: scale(1.15); // 💡 make it 20% bigger on hover
}
.guest-fav-tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 999px; /* ellipse */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}