.tabs-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-left: auto;
}

.tab-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #717171;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.tab-link:hover {
  color: #000;
  border-bottom: 2px solid #ddd;
}

.tab-link.active {
  color: #ff385c; /* Airbnb pink */
  font-weight: 600;
  border-bottom: 2px solid #ff385c;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-text {
  font-size: 1.8rem;
  // font-weight: bold;
  color: #ff385c; /* Airbnb pink */
  font-weight: 600;
  padding: 5px;
}
