.home-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0;
    gap: 15px;
    list-style-type: none;
}

.home-list .home-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 25%;
    padding: 10px;
    background-color: #000000c9;
    transition: transform 0.2s;
}

.home-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align arrows and homes to the right */
  padding: 1rem;
}

.home-carousel-header {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 10px;
}

.home-carousel-header button {
  font-size: 1.3rem;
  padding: 6px 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.home-carousel-header button:disabled {
  opacity: 0.4;
  cursor: default;
}

.home-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.home-preview {
  width: 250px;
  flex: 0 0 auto;
}

