// Primary Brand Colors
$clr-primary: #FF385C;
$clr-secondary: #222222; 

//  Neutral Grays
$clr-gray-100: #F7F7F7 ;
$clr-gray-200: #EBEBEB;
$clr-gray-300: #DDDDDD;
$clr-gray-400: #B0B0B0;
$clr-gray-500: #717171 ;
$clr-gray-600: #484848;
$clr-gray-700: #333333;
$clr-gray-800: #222222;

// Supporting Colors
$clr-blue: #008489 ;
$clr-green: #00A699;
$clr-yellow: #FFB400;

// Basics
$clr-white: #ffffff;
$clr-black: #000000;

// UI States
$clr-success: #34A853;
$clr-error: #D93B30;
$clr-warning: #FBC02D;
$clr-info: #4285F4;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Cards
$clr-card-bg: #e96b9509;
$clr-card-shadow: #0000002b;
$clr-star: #ffc107;
$border-radius-sm: 5px;
$spacing-md: 15px;
