// Background Colors
$bg-white: #ffffff;
$bg-white-opacity: #ffffffcc;
$bg-lightest-gray: #f7f7f7;
$bg-lighter-gray: #f2f2f2;
$bg-light-gray: #ebebeb;
$bg-gray: #dddddd;
$bg-primary-pink: #ff385c;
$bg-dark: #222222;
$bg-black-opacity: #00000040;

// Text Colors
$text-white: #ffffff;
$text-light-gray: #c1c1c1;
$text-primary-pink: #ff385c;
$text-gray: #6a6a6a;
$text-dark: #222222;
$text-black: #000000;

// Fill Colors
$fill-primary-pink: #ff385c;
$fill-gray: #6a6a6a;
$fill-dark: #222222;
$fill-black: #000000;
$fill-black-opacity: #00000080;

// Border Colors
$border-white-opacity: #ffffff80;
$border-lightest-gray: #eeeeee;
$border-light-gray: #ebebeb;
$border-gray: #dddddd;
$border-mid-gray: #c1c1c1;
