// Setup
@import "./setup/variables" ; 
@import "./setup/functions" ;
@import "./setup/mixins" ;
@import "./setup/typography" ;


// Base
@import "./base/base" ;
@import "./base/layout";
@import "./base/colors";
@import "./base/animations";


// Pages
@import "./pages/home-page";
@import "./pages/home-details";
@import "./pages/become-host-login";
@import "./pages/welcome-host";
@import "./pages/host-dashboard";
@import "./pages/host-bookings";


// Components
@import "./cmps/header";
@import "./cmps/home-list";
@import './cmps/home-carousel';
@import "./cmps/footer";
@import "./cmps/homes-browser-with-map";
@import "./cmps/compact-header";
@import "./cmps/header-drop-downs";
@import "./cmps/map-view";
@import "./cmps/booking-form";
@import "./cmps/home-img-preview";
@import "./cmps/home-text-preview";
@import "./cmps/confirmation-page";
@import "./cmps/host-dashboard-header";

.bottom-div {
  height: 0px;
  width: 100vw;
}

.team-member-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.team-member-preview {
  height: 80px;
  display: flex;
  padding: 1.5em;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #673ab721;
}

.loading-container {
  height: 100px;
  font-weight: bolder;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loading-container img {
  height: 100%;
  z-index: 100;
}
