.host-bookings {
  padding: 2rem;
}

.host-bookings h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.host-bookings .booking-filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  flex: 1;
}

.host-bookings table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
  table-layout: fixed; /* <-- ensures equal column widths */
}

.sort-indicator {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
}

.sort-indicator span {
  font-size: 0.8em;
  color: #ccc;
  transition: all 0.2s ease;
}

.sort-indicator .asc.active,
.sort-indicator .desc.active {
  font-size: 1.1em;
  color: black;
}

.sort-indicator .desc {
  margin-left: 2px;
}

.host-bookings th,
.host-bookings td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ddd;
  overflow: hidden; /* ensures long text won't break layout */
  text-overflow: ellipsis; /* adds ... for overflowed text */
  white-space: nowrap; /* prevents wrapping */
  height: 40px; /* set a fixed height */
}
.host-bookings tbody tr {
  transition: all 0.15s ease;
}

.host-bookings th {
  background-color: #f4f4f4;
}

/* Status colors */
.status-new {
  color: #2e86de; /* Blue */
  font-weight: bold;
}

.status-pending {
  color: #f39c12; /* Orange */
  font-weight: bold;
}

.status-paid {
  color: #27ae60; /* Green */
  font-weight: bold;
}

.status-canceled-by-host {
  color: #c0392b; /* Red */
  font-weight: bold;
}

.status-canceled-by-guest {
  color: #d35400; /* Dark orange */
  font-weight: bold;
}

.bookings-table th.sortable {
  cursor: pointer;
  background-color: #f4f4f4;
}

.bookings-table th .col-label {
  margin-right: 0.5rem; /* some spacing from arrows */
}

.bookings-table th .th-content {
  display: flex;
  justify-content: space-between; /* label left, arrows right */
  align-items: center;
  white-space: nowrap; /* prevent stacking */
  height: 30px; /* fixed height for the header content */
}
