.welcome-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

/* Header flex box */
.welcome-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.welcome-icon {
  height: 50px;
}

.header-buttons button {
  margin-left: 1rem;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 550;
  border-radius: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
}


/* Listing container */
.listing-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
}

.listing-container h1 {
  font-size: 1.9rem;
  font-weight: bold;
}

.finish-listing h2,
.new-listing h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.listing-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
}

.listing-thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.create-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 12px;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

.create-btn .icon {
  font-size: 1.2rem;
}
